<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/collections/axor-apex" class="stretched-link"></a>
    <div class="#main-header-inner-container">
        <div class="#main-header-toolbar @start">
           <modal-trigger class="hide-desktop" section-id="main-header" target="#main-header-mainNav" layout="sidebar" hidden-close="">
             
   
   <svg class="#icon">
       <use href="#svg-icon-menu"></use>
   </svg>
           </modal-trigger>
        </div>
         <a class="#main-header-logo @img  strip-link flex-center" href="/" data-logo="" style="--logo-width: 120px">
           
             <div class="#main-header-logo-image">
               
   
   
   
   
   
   
   
   
   
   <figure class="
           #media
           
           
           
           
           
       " style="">
       
   
       
   
   
         
       
       
           <div class="
       #media-image-wrapper
       
       
        
     ">
               <img class="#media-image" alt="" loading="lazy" width="500" height="206" src="//axorhelmets.com/cdn/shop/files/Axor_Logo_Png.png?v=1684734125">
           </div>
           
       
       
   
       
   
       
       
       
          
   </figure>
   
             </div>
             
           
         </a>
         <div class="#main-header-toolbar @end">
            <div class="search__part"><link rel="stylesheet" href="//axorhelmets.com/cdn/shop/t/35/assets/search-popup.css?v=135509313776280650771684149912" media="all" onload="this.media='all'; this.onload = null">
               <modal-trigger section-id="main-header" target="#main-header-search" layout="search-bar" hidden-close=""> 
                 <a href="/search" class="#main-header-toolbar-link">
                 <span class="#main-header-toolbar-link-icon">
                   
   
   <svg class="#icon">
       <use href="#svg-icon-search"></use>
   </svg>
                 </span>
                 <span class="#main-header-toolbar-link-text mobile-visually-hidden">
                   Search
                 </span>
               </a>
               </modal-trigger>
               <template id="main-header-search">
                 <link rel="stylesheet" href="//axorhelmets.com/cdn/shop/t/35/assets/predictive-search-input.css?v=170606778906860764631684149912" media="print" onload="this.media='all'; this.onload = null">
   <noscript>&lt;link href="//axorhelmets.com/cdn/shop/t/35/assets/predictive-search-input.css?v=170606778906860764631684149912" rel="stylesheet" type="text/css" media="all" /&gt;</noscript>
   
   <predictive-search-input class="#predictive-search-input" sources="product,collection,page,article," results-limit="5">
       <div class="#predictive-search-input-form">
           <div class="#search-popup">
           <form class="#search-popup-form" action="/search">
               <div class="#search-popup-icon">
                   
   
   <svg class="#icon">
       <use href="#svg-icon-search"></use>
   </svg>
               </div>
               <input type="text" class="#search-popup-input" name="q" placeholder="Search">
               <modal-close class="#search-popup-close">
                   
   
   <svg class="#icon">
       <use href="#svg-icon-x"></use>
   </svg>    
               </modal-close>
           </form>
       </div>
       </div>
       <div class="#predictive-search-input-results" data-results=""></div>
   </predictive-search-input>
   
   
   
               </template><script type="module" src="//axorhelmets.com/cdn/shop/t/35/assets/predictive-search-input.js?v=69810986782691168871684149912"></script></div><a href="/account/login" class="#main-header-toolbar-link">
               <span class="#main-header-toolbar-link-icon">
                 
   
   <svg class="#icon">
       <use href="#svg-icon-user"></use>
   </svg>
               </span>
               <span class="#main-header-toolbar-link-text mobile-visually-hidden">Log in</span>
             </a><wishlist-link show-icon="" show-text="" icon="wishlist"><!---->
         <wk-button><!---->
           <a rel="noopener noreferrer nofollow" href="/apps/wishlist" aria-label="View wishlist" class="wk-button wk-align-center wk-align-content-center">
             <!--?lit$358829534$-->
         <wk-icon class="wk-icon" icon="wishlist"><!---->
       <svg viewBox="0 0 64 64">
         <path d="M32.012,59.616c-1.119-.521-2.365-1.141-3.707-1.859a79.264,79.264,0,0,1-11.694-7.614C6.316,42,.266,32.6.254,22.076,0.244,12.358,7.871,4.506,17.232,4.5a16.661,16.661,0,0,1,11.891,4.99l2.837,2.889,2.827-2.9a16.639,16.639,0,0,1,11.874-5.02h0c9.368-.01,17.008,7.815,17.021,17.539,0.015,10.533-6.022,19.96-16.312,28.128a79.314,79.314,0,0,1-11.661,7.63C34.369,58.472,33.127,59.094,32.012,59.616Z"></path>
       </svg>
     </wk-icon>
       <!--?lit$358829534$--><span class="wk-text"><!--?lit$358829534$-->Wishlist</span><!--?lit$358829534$-->
           </a>
         </wk-button>
       </wishlist-link><modal-trigger section-id="main-header" target="CART" wk-skip="">
               <a href="/cart" class="#main-header-toolbar-link">
               <span class="#main-header-toolbar-link-icon">
                 
                   <cart-counter class="#cart-counter " style="--cart-counter-bg-color: #dc3545; --cart-counter-text-color: #ffffff" empty="" section-id="main-header" cart-url="/cart">
                     0
                   </cart-counter>
                   
                 
                 
   
   <svg class="#icon">
       <use href="#svg-icon-cart"></use>
   </svg>
               </span>
               <span class="#main-header-toolbar-link-text mobile-visually-hidden">
                 Cart
               </span>
             </a>
             </modal-trigger></div>
       </div>
</body>
</html>